.GridObject .value .GridScalar.null {
  color: #719df4;
}

.GridObject .value .GridScalar.string {
  color: #7cb649;
}

.GridObject .value .GridScalar.number {
  color: #c975f0;
}

.GridObject .value .GridScalar.boolean {
  color: #ff69b4;
}
