.array,
.array-item {
  padding: 0;
  border: none;
}

.array-item > table {
  width: 100%;
}

.array {
  border-collapse: separate;
  border-spacing: 0 0.75em;
}

.array:not(.empty) {
  margin-top: -0.5em;
  margin-bottom: -0.25em;
}
