// Font
$font-family: "Fira Code", monospace;
$fw-regular: 500;

// Colors
$neutral-text: #d3d5d8;
$neutral-surface: #141617;

// JSON
$json-key: #48d7c3;
$json-length: #4791d7;
$json-string: #7cb649;
$json-number: #c975f0;
$json-boolean: #ff69b4;
$json-null: #f0b075;
