// Font
$font-family: "Fira Code", monospace;
$fw-regular: 500;


// Colors
$neutral-text: #d3d5d8;
$neutral-surface: #141617;


// JSON
$json-string: #0ff;
$json-number: #0ff;
$json-boolean: #0ff;
$json-null: #0ff;
$json-object: #0ff;
$json-array: #0ff;
