table,
td {
  border: 1px solid #ffffff12;
  border-collapse: collapse;
}

td {
  padding: 0.25em 0.75em;
  vertical-align: top;

  background-color: #ffffff04;
}

.array,
.array-item {
  padding: 0;
  border: none;
}

.array-item > table {
  width: 100%;
}

.array {
  border-collapse: separate;
  border-spacing: 0 0.75em;
}

.array:not(.empty) {
  margin-top: -0.5em;
  margin-bottom: -0.25em;
}

.object > table {
  margin-bottom: 0.5em;
}

.key-text {
  color: #48d7c3;
}

.value .null {
  color: #719df4;
}

.value .string {
  color: #8ec061;
}

.value .number {
  color: #c975f0;
}

.value .boolean {
  color: #ff69b4;
}
