@use "theme.scss";

html,
body {
  background-color: theme.$neutral-surface;
  color: theme.$neutral-text;
}

body {
  position: relative;
}

body,
code {
  font-family: theme.$font-family;
  font-weight: theme.$fw-regular;
}
